language: minimal

env:
  global:
  - HUGO_VERSION=0.49
  - HUGO_BINARY=hugo_$HUGO_VERSION_Linux-64bit.tar.gz

install:
- wget https://github.com/gohugoio/hugo/releases/download/v0.49/hugo_0.49_Linux-64bit.tar.gz
  -O /tmp/hugo.tar.gz
- tar -xzvf /tmp/hugo.tar.gz

script:
- "./hugo"

before_deploy:
  - mv public/ demo-site-$TRAVIS_TAG/
  - tar -czvf demo-site$-TRAVIS_TAG.tar.gz demo-site

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: demo-site-$TRAVIS_TAG.tar.gz
  skip_cleanup: true
  on:
    tags: true